.vscode
*.exe
SearchServer/SearchServer/SearchServer/
SearchServer/SearchServer/x64/
SearchServer/SearchServer/*.sln
SearchServer/SearchServer/.vs/
SearchServer/.vs/
SearchServer/SearchServer/*.filters
SearchServer/SearchServer/*.user
SearchServer/SearchServer/*.vcxproj